
<form method="POST" action="/auth/deleteconfirm?_method=DELETE" enctype="application/x-www-form-urlencoded">
  <h2 for="delete">Delete Account</h2> <br>
  <!-- <button type="submit" class="btn delete btn-danger" name="delete">Delete Account</button> -->
  <input id="delete" class="btn delete btn-danger"  name="delete" type="Submit" value="Delete Account">
</form>
<a class="delete" id="delete" href="/auth/deleteconfirm?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">Delete</a>

<br>

<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
