<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

<h1>Delete Your Profile</h1>

<button id="delete" class="btn delete btn-danger"  name="delete" type="Submit" value="Delete Account">Delete Account</button>


<br>

<a href="/auth/logout">Logout</a> |
<a href="/profile">Profile</a>

<style>

</style>
