<!-- <link rel="stylesheet" type="text/css" href="../../../public/css/main.css" /> -->
<body id="body">

  <div id="homehead" class="col-lg-6 col-sm-3">
    <h1 id="header">My Movie Database<br> <small id="subhead">Branding and Taglines are fun.</small></h1>
  </div>



</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>

<script src="../../public/js/script.js"></script>
<style src="../public/img/images"></style>
<style src="../public/css/main"></style>
