<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

<h2>Welcome</h2>



<a href="/">Home</a>
<a href="/auth/edit">Edit Profile</a>
<a href="/auth/delete">Delete Profile</a>
<a href="/search">Search</a>
<a href="movies">All Movies</a>
<a href="/movies/add">Add Movie</a>
