<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

<h2>Search</h2>

<form action="/movies/results" method="POST">
  <div class="form-group">
    <label for="name">Search</label>
    <input id="name" class="form-control" type="text" name="name" placeholder="Enter Movie Name...">
    <input class="btn btn-primary" type="submit">
  </div>
</form>

<a href="/">Home</a>
<a href="movies">All Movies</a>
