<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

<a href="/">Home</a> |
<a href="/profile">Profile</a> |
<a href="/search">Search</a> |
<a href="/movies">All Movies</a> |

<style>
body {
  background-image: url(http://compassmac.com/wp-content/uploads/2014/07/android-404-845x504.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 99%;
}
a {
  text-align: center;

}
</style>
