<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

<h2>Add Movie</h2>

<form action="/movies/add" method="POST">
  <div class="form-group">
    <label for="name">Movie Name:</label>
    <input id="name" class="form-control" type="name" name="name">
  </div>
  <input class="btn btn-primary" type="submit">
</form>



<a href="/">Home</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/movies">All Movies</a>
