<%= movie.name %>
<form action="/movies/<%= movie.id %>" method="POST">
  <div class="form-group">
    <label for="editname">Movie Name: </label>
    <input id="editname" class="editname" type="text" name="editname">
  </div>
  <input class="btn btn-success edit" value="Edit <%= movie.name %>" id="edit" type="Submit">
</form>

<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/movies">All Movies</a>


<script
  src="https://code.jquery.com/jquery-3.2.1.slim.js"
  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
  crossorigin="anonymous"></script>
<script src="../../public/js/edit.js"></script>
