<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

<h1>Your Movies:</h1>
<br>
<ul>
<% for (i = 0; i < movie.length; i++) { %>
  <li><a href="/movies/<%= movie[i].id %>"><%= movie[i].name %></a></li>
<% } %>
</ul>
<br>
<br>
<a href="/">Home</a> |
<a href="/search">Search</a>
<br>
<br>
<h4>Add Movie:</h4>
<form action="/movies" method="POST">
  <div class="form-group">
    <input id="name" class="form-control" type="name" name="name" placeholder="Enter New Movie Name...">
  </div>
  <input class="btn btn-primary" type="submit">
</form>
<br>
<br>
