<link rel="stylesheet" type="text/css" href="../public/css/style.css" />

These are movies
<ul>
<% for (i = 0; i < movie.length; i++) { %>
  <li><a href="/movies/<%= movie[i].id %>"><%= movie[i].name %></a></li>
<% } %>
</ul>

<br>
<br>
<h4>Add Movie:</h4>
<form action="/movies" method="POST">
  <div class="form-group">
    <label for="name">Movie Name:</label>
    <input id="name" class="form-control" type="name" name="name">
  </div>
  <input class="btn btn-primary" type="submit">
</form>
<br>
<br>


<a href="/">Home</a>
<a href="/search">Search</a>
